*{
    font-family: 'Times New Roman', Times, serif;
    margin: 5px auto;
    padding: auto;
    background-color: rgba(167, 194, 194, 0.041);
}
.container 
{
    background-color: rgba(231, 243, 247, 0.151);
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .togri_jav{
       background-color: rgba(187, 183, 243, 0.356);
       border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
}
  .siz_jav{
      background-color: rgba(126, 223, 230, 0.507);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
}
.siz_jav:hover{
    color: rgb(233, 7, 7)
}
  div.javob
  {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 5px;
    background-color: #310abea2;
    border: 2px solid #e6f7e6;
    box-shadow: 6px 6px darkgray;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.test{
    display: inline-block;
    
}
.togri{
    display:block;
}
.rasm_togri{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.rasm_xato{
  
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.savol{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-style: solid;
    border-color: rgba(124, 57, 248, 0.274);
    padding:5px 5px 5px 5px;
 }
 .colore{
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     

}